<div class="card mt-3">
    <div class="card-body">
        <h2>{{filme.titulo}}, {{filme.lancamento}}</h2>
        <p><b>Diretor:</b> {{filme.diretor}} | <b>Gênero:</b> {{filme.genero.nome}}</p>
        <p class="fst-italic">{{filme.sinopse}}</p>
    </div>
</div>